<svg class="img-responsive" id="workflow-translation" width="848pt" height="304pt"
 viewBox="0.00 0.00 847.51 303.71" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<g id="graph0" class="graph" transform="scale(1 1) rotate(0) translate(4 299.71)">
<title>workflow</title>
<polygon fill="white" stroke="transparent" points="-4,4 -4,-299.71 843.51,-299.71 843.51,4 -4,4"/>
<!-- place_efd7fd7f2954713c1ee7facf9750fe53e8cf589c -->
<g id="node1" class="node">
<title>place_efd7fd7f2954713c1ee7facf9750fe53e8cf589c</title>
<ellipse fill="lightblue" stroke="#333333" cx="57.5" cy="-147.35" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="57.5" y="-145.15" font-family="Arial" font-size="9.00">translation</text>
</g>
<!-- transition_b6589fc6ab0dc82cf12099d1c2d40ab994e8410c -->
<g id="node5" class="node">
<title>transition_b6589fc6ab0dc82cf12099d1c2d40ab994e8410c</title>
<polygon fill="none" stroke="#333333" points="280,-211.85 151,-211.85 151,-82.85 280,-82.85 280,-211.85"/>
<text text-anchor="middle" x="215.5" y="-145.15" font-family="Arial" font-size="9.00">to_proofreading</text>
</g>
<!-- place_efd7fd7f2954713c1ee7facf9750fe53e8cf589c&#45;&gt;transition_b6589fc6ab0dc82cf12099d1c2d40ab994e8410c -->
<g id="edge1" class="edge">
<title>place_efd7fd7f2954713c1ee7facf9750fe53e8cf589c&#45;&gt;transition_b6589fc6ab0dc82cf12099d1c2d40ab994e8410c</title>
<path fill="none" stroke="#333333" d="M115.26,-147.35C125.22,-147.35 135.68,-147.35 145.91,-147.35"/>
<polygon fill="#333333" stroke="#333333" points="145.92,-149.1 150.92,-147.35 145.92,-145.6 145.92,-149.1"/>
</g>
<!-- place_a4fe6ddda95b5ba9c67992f481dd191b91a4ea31 -->
<g id="node2" class="node">
<title>place_a4fe6ddda95b5ba9c67992f481dd191b91a4ea31</title>
<ellipse fill="none" stroke="#333333" cx="385.35" cy="-226.35" rx="69.21" ry="69.21"/>
<text text-anchor="middle" x="385.35" y="-224.15" font-family="Arial" font-size="9.00">proofreading_lsp</text>
</g>
<!-- transition_356a192b7913b04c54574d18c28d46e6395428ab -->
<g id="node6" class="node">
<title>transition_356a192b7913b04c54574d18c28d46e6395428ab</title>
<polygon fill="none" stroke="#333333" points="657.71,-230.85 490.71,-230.85 490.71,-63.85 657.71,-63.85 657.71,-230.85"/>
<text text-anchor="middle" x="574.21" y="-145.15" font-family="Arial" font-size="9.00">to_customer_approval</text>
</g>
<!-- place_a4fe6ddda95b5ba9c67992f481dd191b91a4ea31&#45;&gt;transition_356a192b7913b04c54574d18c28d46e6395428ab -->
<g id="edge4" class="edge">
<title>place_a4fe6ddda95b5ba9c67992f481dd191b91a4ea31&#45;&gt;transition_356a192b7913b04c54574d18c28d46e6395428ab</title>
<path fill="none" stroke="#333333" d="M449.62,-199.61C461.21,-194.71 473.49,-189.52 485.64,-184.38"/>
<polygon fill="#333333" stroke="#333333" points="486.55,-185.89 490.47,-182.34 485.18,-182.67 486.55,-185.89"/>
</g>
<!-- place_aff57df553367cef4e65f8cb74a6101ec9da9a1c -->
<g id="node3" class="node">
<title>place_aff57df553367cef4e65f8cb74a6101ec9da9a1c</title>
<ellipse fill="none" stroke="#333333" cx="385.35" cy="-69.35" rx="69.21" ry="69.21"/>
<text text-anchor="middle" x="385.35" y="-67.15" font-family="Arial" font-size="9.00"> proofreading_qm</text>
</g>
<!-- place_aff57df553367cef4e65f8cb74a6101ec9da9a1c&#45;&gt;transition_356a192b7913b04c54574d18c28d46e6395428ab -->
<g id="edge5" class="edge">
<title>place_aff57df553367cef4e65f8cb74a6101ec9da9a1c&#45;&gt;transition_356a192b7913b04c54574d18c28d46e6395428ab</title>
<path fill="none" stroke="#333333" d="M449.62,-95.76C461.21,-100.6 473.49,-105.73 485.64,-110.8"/>
<polygon fill="#333333" stroke="#333333" points="485.18,-112.51 490.47,-112.82 486.53,-109.28 485.18,-112.51"/>
</g>
<!-- place_642e75dd65b98f27587fe6fe7f522c2f72b75414 -->
<g id="node4" class="node">
<title>place_642e75dd65b98f27587fe6fe7f522c2f72b75414</title>
<ellipse fill="none" stroke="#333333" cx="766.61" cy="-147.35" rx="72.8" ry="72.8"/>
<text text-anchor="middle" x="766.61" y="-145.15" font-family="Arial" font-size="9.00">customer_approval</text>
</g>
<!-- transition_b6589fc6ab0dc82cf12099d1c2d40ab994e8410c&#45;&gt;place_a4fe6ddda95b5ba9c67992f481dd191b91a4ea31 -->
<g id="edge2" class="edge">
<title>transition_b6589fc6ab0dc82cf12099d1c2d40ab994e8410c&#45;&gt;place_a4fe6ddda95b5ba9c67992f481dd191b91a4ea31</title>
<path fill="none" stroke="#333333" d="M280.44,-177.45C292.54,-183.14 305.24,-189.12 317.43,-194.86"/>
<polygon fill="#333333" stroke="#333333" points="316.99,-196.58 322.26,-197.13 318.48,-193.42 316.99,-196.58"/>
</g>
<!-- transition_b6589fc6ab0dc82cf12099d1c2d40ab994e8410c&#45;&gt;place_aff57df553367cef4e65f8cb74a6101ec9da9a1c -->
<g id="edge3" class="edge">
<title>transition_b6589fc6ab0dc82cf12099d1c2d40ab994e8410c&#45;&gt;place_aff57df553367cef4e65f8cb74a6101ec9da9a1c</title>
<path fill="none" stroke="#333333" d="M280.44,-117.64C292.54,-112.02 305.24,-106.12 317.43,-100.45"/>
<polygon fill="#333333" stroke="#333333" points="318.46,-101.9 322.26,-98.21 316.99,-98.73 318.46,-101.9"/>
</g>
<!-- transition_356a192b7913b04c54574d18c28d46e6395428ab&#45;&gt;place_642e75dd65b98f27587fe6fe7f522c2f72b75414 -->
<g id="edge6" class="edge">
<title>transition_356a192b7913b04c54574d18c28d46e6395428ab&#45;&gt;place_642e75dd65b98f27587fe6fe7f522c2f72b75414</title>
<path fill="none" stroke="#333333" d="M657.89,-147.35C667.97,-147.35 678.25,-147.35 688.25,-147.35"/>
<polygon fill="#333333" stroke="#333333" points="688.46,-149.1 693.46,-147.35 688.46,-145.6 688.46,-149.1"/>
</g>
</g>
</svg>
